

.header {
    display: flex;
}
.navigation {
    flex: 80 0%;
    background-color: #4a4343;
}

.navigation li {
    list-style: none;
}

.navigation a{
    display: table;
    float: left;
    font-size:1.3em;
    padding: 0px 20px;
    text-decoration:none;
}

 .navigation li a {
    display: table-cell;
    color: white;
    padding: 14px 14px;
}

.navigation a:hover {
    background-color: #100;
    text-decoration: underline;
}


.title {
    flex: 0 20%;
    text-align: center;
    font: 2em bold;
    color:white;
    float: right;
    background-color: #4a4343;
}

.content {
    width: 80%;
    margin: auto;
}

#photo {
    width: 30%;
    float: left;
    margin: 0 20px;
}

#hobby {
    width: 80%; 
    font-size: 1.2em;
    text-align: justify;
}